img {
    position: absolute;
}
/*Section 1*/

#femmeDebout {
    top: 69vh;
    left: 70vw;
    z-index: 3;
}
#nuage {
    top: 60vh;
    left: 40vw;
    z-index: 0;
}
#textUn {
    top: 17vh;
    left: 50vw;
}
#boutonUn {
    top: 80vh;
    left: 15vw;
}
#logo {
    left: 6vw;
    top: 30vh;
}

/*Section 2*/

#hommeAssis {
    top: 160vh;
    left: 10vw;
}
#barreRecherche {
    top: 130vh;
    left: 60vw;
}
#textDeux {
    top: 130vh;
    left: 20vw;
}

/*Section 3*/